### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
# Logs
logs/
*.log

../.venv

venv
pip-selfcheck.json
data.csv
debug_page.html
# IDE
.idea/
# Scrapy
.scrapy/              # Scrapy кеш
debug_page.html
logs/
dumps/
data/
carscraper/spiders/__pycache__/
carscraper/logs/
# Docker
.dockerignore
